.our-client {
  @include section;
}

.our-client-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.our-client-link {
  width: 210px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  transition: border var(--main-transition);

  &:is(:hover, :focus) {
    border: 1px solid var(--accent-site-color);
  }

  @include mq(tab) {
    width: 226px;
  }

  @include mq(desk) {
    width: 170px;
  }
}

.our-client-logo {
  fill: var(--icon-color);
  transition: fill var(--main-transition);

  .our-client-link:is(:hover, :focus) & {
    fill: var(--accent-site-color);
  }
}
